<ion-view view-title="Carte du monde">
    <ion-pane>
      <ion-scroll zooming="true" direction="x" class="parallax" on-swipe-left="onSwipe($event)" on-swipe-right="onSwipe($event)">

          <div class="parallax__layer" id="route"></div>
          <div class="parallax__layer" id="titles">
            <img src="img/home/title-osd.png" id="title-osd">
            <img src="img/home/title-character.png" id="title-character">
            <img src="img/home/title-instruments.png" id="title-instruments">
            <img src="img/home/title-history.png" id="title-history">
            <img src="img/home/title-catalogue.png" id="title-catalogue">
            <img src="img/home/title-backstage.png" id="title-backstage">
            <img src="img/home/title-code.png" id="title-code">
          </div>
          <div class="parallax__layer" id="background"></div>
      </ion-scroll>
    </ion-pane>
</ion-view>
