<ion-view view-title="Parallax" id="test-1">
    <ion-content> <!-- scroll="false">
        <ion-scroll direction="x"-->
            <div class="parallax" id="container">
                <div class="parallax__layer parallax__layer--base" id="background">
                </div>
                <div class="parallax__layer parallax__layer--back" id="grass"></div>
                <div class="parallax__layer parallax__layer--middle" id="nuage-03">
                    <img src="img/parallax/cloud1.png" />
                </div>
                <div class="parallax__layer parallax__layer--middle" id="nuage-01">
                    <img src="img/parallax/cloud1.png" />
                </div>
                <div class="parallax__layer parallax__layer--middle" id="nuage-02">
                    <img src="img/parallax/cloud1.png" />
                </div>
            </div>
        <!--/ion-scroll>-->
    </ion-content>
</ion-view>
